docker {
    enabled = true
    fixOwnership = true
    runOptions = '--init'
}

params {
    root_seq = "https://raw.githubusercontent.com/shandley/viral_genome_sop/main/NC_045512.2.fasta"
    tree_json = "https://raw.githubusercontent.com/anajung/CZI_addon/main/data/nextclade_data/tree.json"
    qc_json = "https://raw.githubusercontent.com/anajung/CZI_addon/main/data/nextclade_data/qc.json"
    genemap = "https://raw.githubusercontent.com/anajung/CZI_addon/main/data/nextclade_data/genemap.gff"
    references_fasta = "https://raw.githubusercontent.com/anajung/CZI_addon/main/data/references.fasta"
}

profiles {
    local {
        process.executor = 'local'
    }
}

